<div class="container">
    <h1>Chat</h1>
    <div class="row">
      <div class="col-2">
        <ng-container *ngFor="let message of messages">
          <p>{{message}}</p>
        </ng-container>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-10">
        <input class="form-control" [(ngModel)]="msg">
      </div>
      <div class="col-2">
        <button (click)="sendMessage()" class="btn btn-success">Отправить!</button>
      </div>
    </div>
  </div>
