<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">Some up the bulk of the card's content.</p>
    <input class="form-control" [(ngModel)]="product.name" type="text">
  </div>
</div>
