<div class="container">
    <div class="row">
        <h1>Вход</h1>
    </div>
    <div class="row">
        <div class="col">
            <input [(ngModel)]="userName" class="form-control" placeholder="Username">
            <input [(ngModel)]="password" type="password" class="form-control">
            <button (click)="auth()">Войти</button>
        </div>
    </div>
</div>
